<%- include header.ejs %>
<!-- body content -->

<div class="container">
  <div class="row">
      <img src="/img/home_header.png" class="col m12" style="max-width: 700px; padding-top: 60px;" alt="">
      
  </div>
  <br>
  <br>
  <div class="divider"></div>
  <div class="row section">
      <div class="col m3"><a href="/competitor" class="btn waves-effect waves-light orange darken-1 full-width">Competitor</a></div>
      <div class="col m3"><a href="/judge" class="btn waves-effect waves-light orange darken-2 full-width">Judge</a></div>
      <div class="col m3 totally-disabled"><a href="/scoreboard" class="btn waves-effect waves-light orange darken-3 full-width">Scoreboard</a></div>
      <div class="col m3"><a href="#" id="admin_link" class="btn waves-effect waves-light orange darken-4 full-width">Admin</a></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col m12 center">
      <img src="/img/footer.png" style="padding-top: 60px;" alt="">
    </div>
  </div>
</div>

<script>

  $("#admin_link").click(function(){
    var password = prompt('Enter your Authentication Code', '###');
    axios.post('/admin', {'key':password})
    .then(function(response){
      var _status, _key;
      if(!_.isNil(response.data.status) 
         && !_.isNil(response.data.key)){
        _status = response.data.status;
        _key = response.data.key;

        if(_.isEqual(_status, 'OK')){
          window.location ='/admin?hash=' + _key;
        } else {
          notify('Authentication failed!');
        }
      } else {
        
        notify('Authentication failed!');
      }
      console.log(response.data);
    })
    .catch(function(error){
        notify('Authentication failed!');
        console.log(error);
    })
  });
</script>
<!-- end of body content -->
<%- include footer.ejs %>