<%- include header.ejs %>
<!-- body content -->

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Judge</h1>
    </div>
  </div>
</div>
<!-- end of body content -->
<%- include footer.ejs %>