<%- include header.ejs %>
<!-- body content -->

<div class="container">
  <div class="row">
      <img src="/img/home_header.png" class="col m12" style="max-width: 700px; padding-top: 60px;" alt="">
      
  </div>
  <br>
  <br>
  <div class="divider"></div>
  <div class="row section">
      <div class="col m3"><a class="btn waves-effect waves-light orange darken-1 full-width" type="submit" name="action">Competitor</a></div>
      <div class="col m3"><a class="btn waves-effect waves-light orange darken-2 full-width" type="submit" name="action">Judge</a></div>
      <div class="col m3"><a class="btn waves-effect waves-light orange darken-3 full-width" type="submit" name="action">Scoreboard</a></div>
      <div class="col m3"><a class="btn waves-effect waves-light orange darken-4 full-width" type="submit" name="action">Admin</a></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col m12 center">
      <img src="/img/footer.png" style="padding-top: 60px;" alt="">
    </div>
  </div>
</div>

<script>
  
</script>
<!-- end of body content -->
<%- include footer.ejs %>